.header {
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ED6863;
  height: 65px;
  border: 1px solid #ED6878;
  text-align: center;
  position: relative;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.progress-container {
  position: relative;
  width: 100%;
  height: 5px;
  background: #ccc;
}

.progress-bar {
  height: 5px;
  background: #ACD3F4;
  width: 0%;
}

.header .title h1 {
  color: #ffff;
  letter-spacing: 3px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

body {
  height:100%;
  margin:0;
  padding:0;
  background-color: #F6F6F6;
}

.title{
  text-align: center;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  -webkit-text-stroke: 1px #ffff
}

.div_img {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
}

.getImg{
  text-align: center;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.div_search{
  width: 100%;
  height: 30px;
  padding-bottom: 10px;
}

.result_btn{
  position: absolute;
  right: 20px;
  padding: 5px;
}

.keyword_result{
  position: absolute;
  left: 20px;
  align-items: center;
  padding: 5px;
}

.plus {
  position: absolute;
  left: 20px;
  align-items: center;
  padding: 5px;
}

.research_result{
  margin: 15px;
  height: 100%;
}

#textarea {
 width: 100%;
 height: 300px;
 font-size: 16px;
}

/* #copy_btn{
  width: 100%;
  height: 35px;
  font-size: 16px;
  color: #ffff;
  border-radius: 13px;
  background-color: #ED6863;
} */

#result_visible {
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #ffff;
  border-radius: 15px;
  margin: 3px;
  background-color: #ED6863;
}

#result_unvisible{
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #ffff;
  border-radius: 15px;
  margin: 3px;
  background-color: #ED6863;
}

#search_result_add {
  width: 320px;
  height: 100px;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  color: #7F7F7F;
  background-color: #D6F0FF;
  border-radius: 20px;
}

#imgName{
  height: 30px;
  width: 240px;
  border: 1.5px solid white;
  border-radius: 13px;
  font-size: 16px;
  text-align: center;
}

#btn_search{
  width: 80px;
  height: 30px;
  font-size: 16px;
  color: #ffff;
  border-radius: 13px;
  background-color: #ED6863;
}


#btn_copy{
  width: 80px;
  height: 25px;
  font-size: 16px;
  color: #ffff;
  background-color: #ED6863;
}

.plus_content{
  padding-top: 5px;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

/* #myBar2 {
  width: 1%;
  height: 30px;
  background-color: green;
} */
